{:min-bb-version
 "0.7.8"

 :deps
 {io.lazy-cat/tools.project {:local/root "."}}

 :tasks
 {:requires    ([tools.project :as p]
                [tools.print :as pp])

  :init        (do
                 (def project (p/read-project)))

  :enter       (let [{:keys [doc print-doc?]
                      :or   {print-doc? true}} (current-task)]
                 (when (and print-doc? doc)
                   (println (str "▸ " doc))))

  ;;;;
  ;; Tasks
  ;;;;

  project:info {:task (pp/pretty project {:right-margin 200})}

  lint         {:doc  "Run linters"
                :task (do
                        (shell "cljstyle check src")
                        (shell "clj-kondo --lint src"))}
  lint:fix     {:doc  "Run linters & fix"
                :task (shell "cljstyle fix src")}}}
