{:min-bb-version
 "0.7.8"

 :deps
 {io.lazy-cat/tools.project {:local/root "."}}

 :tasks
 {:requires    ([babashka.fs :as fs]
                [babashka.process :as process]
                [clojure.string :as str]
                [tools.datetime :as datetime]
                [tools.git :as git]
                [tools.path :as path])

  :init        (do
                 )

  :enter       (let [{:keys [doc print-doc?]
                      :or   {print-doc? true}} (current-task)]
                 (when (and print-doc? doc)
                   (println (str "▸ " doc))))

  ;;;;
  ;; Tasks
  ;;;;

  now          {:task (print (datetime/format (datetime/zoned-date-time)))}

  build-number {:task (print (git/commits-count))}
  git-url      {:task (print (git/url))}
  git-branch   {:task (print (git/branch))}
  git-sha      {:task (print (git/sha))}

  user-dir     {:task (print (path/user-dir))}}}
