{:name         io.lazy-cat/tools.project
 :version      "0.0.{{ git/commits-count }}{{ version/pre-release }}"
 :description  "A project management tool."
 :license      "MIT"
 :author       "Ilshat Sultanov <ilshat@sultanov.team>"
 :contributors [{:name  "Ilshat Sultanov"
                 :email "ilshat@sultanov.team"
                 :url   "https://github.com/just-sultanov"}]
 :homepage     "https://github.com/lazy-cat-io/tools.project#readme"
 :repository   {:url "https://github.com/lazy-cat-io/tools.project.git"}
 :bugs         {:url "https://github.com/lazy-cat-io/tools.project/issues"}
 :keywords     [:clojure :project-management :project-management-tool]
 :build        {:src-dirs      ["src/main/clojure"]
                :resource-dirs ["src/main/resources"]
                :target-dir    "target"
                :coverage-dir  "coverage"
                :jar-file      "target/tools.project.jar"}}
