{:project      io.lazy-cat/tools.project
 :version      {:template "0.0.{{ build-number }}"}
 :description  "A project management tool."
 :license      "MIT"
 :author       "Ilshat Sultanov <ilshat@sultanov.team>"
 :contributors [{:name  "Ilshat Sultanov"
                 :email "ilshat@sultanov.team"
                 :url   "https://github.com/just-sultanov"}]
 :homepage     "https://github.com/lazy-cat-io/tools.project#readme"
 :repository   {:url "https://github.com/lazy-cat-io/tools.project.git"}
 :bugs         {:url "https://github.com/lazy-cat-io/tools.project/issues"}
 :keywords     [:clojure :tools.project :project-management]}
