{:variables
 {:git/url                 #sh "git config --get remote.origin.url"
  :git/branch              #sh "git rev-parse --abbrev-ref HEAD"
  :git/sha                 #sh "git rev-parse --short HEAD"

  :git/commit-subject      #sh "git log -1 --no-merges --pretty=format:%s"
  :git/commit-body         #sh "git log -1 --no-merges --pretty=format:%b"
  :git/commit-message      #sh "git log -1 --no-merges --pretty=format:%B"

  :git/committer-timestamp #sh "git log -1 --no-merges --pretty=format:%cI"
  :git/committer-name      #sh "git log -1 --no-merges --pretty=format:%cn"
  :git/committer-email     #sh "git log -1 --no-merges --pretty=format:%ce"

  :git/author-timestamp    #sh "git log -1 --no-merges --pretty=format:%aI"
  :git/author-name         #sh "git log -1 --no-merges --pretty=format:%an"
  :git/author-email        #sh "git log -1 --no-merges --pretty=format:%ae"

  :git/commits-count       #or [#sh "git rev-list HEAD --count" "0"]
  :git/tags                #sh "git tag --list --sort=-version:refname \"*\""}

 :build
 {:src-dirs      ["src"]
  :resource-dirs ["resources"]
  :target-dir    "target"
  :coverage-dir  "coverage"
  :export-keys   [:build/created-at
                  :build/number
                  :git/author-email
                  :git/author-name
                  :git/author-timestamp
                  :git/branch
                  :git/commit-message
                  :git/commits-count
                  :git/committer-email
                  :git/committer-name
                  :git/committer-timestamp
                  :git/sha
                  :git/tag
                  :git/tags
                  :git/url
                  :mvn/group-id
                  :mvn/artifact-id]}}
